<!DOCTYPE html>
<html>
<head>
</head>
<body>
<p dir="rtl" style="text-align: right;">قراءة الجزء الرشيدي بطريقة التهجية</p>
<p dir="rtl" style="text-align: right;">قراءة صحيحة فصيحة</p>
<p dir="rtl" style="text-align: right;">بصوت طفل متقن</p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">1-الدرس الأول</p>
<p dir="rtl" style="text-align: right;">الحروف العربية</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/8zyQHQ4Q83g" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">2-الدرس الثاني</p>
<p dir="rtl" style="text-align: right;">تهجية الحروف (الفتحة) - الصفحة الأولى</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/7WQHBK5exz8" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">3-الدرس الثالث</p>
<p dir="rtl" style="text-align: right;">درس الحركات (الفتحة) - الصفحة الثانية</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/HMFfhAPHurs" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">4-الدرس الرابع</p>
<p dir="rtl" style="text-align: right;">درس الحركات (الفتحة) - الصفحة الثالثة</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/GjKZ1WcbDlE" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">5-الدرس الخامس</p>
<p dir="rtl" style="text-align: right;">درس الحركات (الفتحة) - الصفحة الرابعة</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/AHmY4dbVY5M" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">6-الدرس السادس</p>
<p dir="rtl" style="text-align: right;">درس الحركات (الفتحة) - الصفحة الخامسة</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/3ZLXX525vWg" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">7-الدرس السابع</p>
<p dir="rtl" style="text-align: right;">درس الحركات (الكسرة) - الصفحة الأولى</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/QpVtOj1XOLs" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">8-الدرس الثامن</p>
<p dir="rtl" style="text-align: right;">درس الحركات (الكسرة) - الصفحة الثانية</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/0oYrP9t7whc" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">9-الدرس التاسع</p>
<p dir="rtl" style="text-align: right;">درس الحركات (الكسرة) - الصفحة الثالثة</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/-MwDPKHehuk" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">10-الدرس العاشر</p>
<p dir="rtl" style="text-align: right;">درس الحركات (الضمة) - الصفحة الأولى</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/__tfa72kjTM" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">11-الدرس الحادي عشر</p>
<p dir="rtl" style="text-align: right;">درس الحركات (الضمة) - الصفحة الثانية</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/ML-nbEo-tNI" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">12- الدرس الثاني عشر</p>
<p dir="rtl" style="text-align: right;">تمرين درس الحركات - درس عمر</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/q92SK9VmCqY" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">13-الدرس الثالث عشر</p>
<p dir="rtl" style="text-align: right;">درس السكون مع الفتحة</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/9FRVQh2K6Nk" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">14-الدرس الرابع عشر</p>
<p dir="rtl" style="text-align: right;">درس الكسرة مع السكون</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/F_0m60NbHrs" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">15-الدرس الخامس عشر</p>
<p dir="rtl" style="text-align: right;">درس الضمة مع السكون</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/_4-Qp8Swz4E" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">16-الدرس السادس عشر</p>
<p dir="rtl" style="text-align: right;">تمرين درس السكون - أسعد وزينب</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/LmxWUq_iEf0" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">الدرس السابع عشر</p>
<p dir="rtl" style="text-align: right;">17-مد الحروف بالألف</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/sS_xFWiNIUE" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">18-الدرس الثامن عشر</p>
<p dir="rtl" style="text-align: right;">مد الحروف بالألف ( 2 )</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/oGoCEFz7cIg" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">19-الدرس التاسع عشر</p>
<p dir="rtl" style="text-align: right;">مد الحروف بالألف ( 3 )</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/Ot4XOsuAtFo" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">20-الدرس العشرون</p>
<p dir="rtl" style="text-align: right;">تمرين مد الحروف بالألف ( عدنان وسعاد )</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/ZbKTop3Kv4c" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">21-الدرس الحادي والعشرون</p>
<p dir="rtl" style="text-align: right;">مد الحروف بالياء</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/ULgJe4rMGwA" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">22-الدرس الثاني والعشرون</p>
<p dir="rtl" style="text-align: right;">مد الحروف بالياء ( 2 ) </p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/2BC__TMiNW0" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">23-الدرس الثالث والعشرون</p>
<p dir="rtl" style="text-align: right;">ديك هاني - تمرين مد الحروف بالياء</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/CbDurw3o8RA" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">24-الدرس الرابع والعشرون</p>
<p dir="rtl" style="text-align: right;">مد الحروف بالواو</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/pA2z77h8S7A" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">25-الدرس الخامس والعشرون</p>
<p dir="rtl" style="text-align: right;">مد الحروف بالواو ( 2 )</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/CZFVP5cO2Vg" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">26-الدرس السادس والعشرون</p>
<p dir="rtl" style="text-align: right;">تمرين مد الحروف بالواو - خروف يونس</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/_O1KGC24kkU" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">27-الدرس السابع والعشرون</p>
<p dir="rtl" style="text-align: right;">اللام القمرية</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/kgWCOlNeC4A" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">28-الدرس الثامن والعشرون</p>
<p dir="rtl" style="text-align: right;">الشدة مع الفتحة</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/vgs-QYvKJLA" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">29-الدرس التاسع والعشرون</p>
<p dir="rtl" style="text-align: right;">الشدة مع الكسرة</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/JFnP0so9lqc" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">30-الدرس الثلاثون</p>
<p dir="rtl" style="text-align: right;">الشدة مع الضمة</p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/DOcR3U07Txo" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">31-الدرس الحادي والثلاثون</p>
<p dir="rtl" style="text-align: right;">الضمتان </p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/Z1cB5f3qGeg" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">32-الدرس الثاني والثلاثون</p>
<p dir="rtl" style="text-align: right;">الكسرتان </p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/VHB_-QBOVBM" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">33-الدرس الثالث والثلاثون</p>
<p dir="rtl" style="text-align: right;">الفتحتان  </p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/hl5J99GLHOU" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">34-الدرس الرابع والثلاثون</p>
<p dir="rtl" style="text-align: right;">اللام الشمسية  </p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/ILpO0rmzbow" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">35-الدرس الخامس والثلاثون</p>
<p dir="rtl" style="text-align: right;">زينب وجميل  </p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/lvhCRQxJf6A" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
<p dir="rtl" style="text-align: right;">&nbsp;</p>
<p dir="rtl" style="text-align: right;">36-الدرس السادس والثلاثون والأخير</p>
<p dir="rtl" style="text-align: right;">التشهد   </p>
<p dir="rtl" style="text-align: right;"><iframe src="//www.youtube.com/embed/lvhCRQxJf6A" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>

</body>
</html>
